.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(70vh - 80px);
    font-size: 80px;
    margin: 120px 0px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    gap: 30px;
}

.heading{
    color: var(--text-color);
    line-height: 32px;
    letter-spacing: 0.5px;
    font-size: 28px;
    font-weight: 600;
    animation: drop-in 1200ms ease 500ms forwards;
}

.description{
    text-align: center;
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 600;
    animation: drop-in 1200ms ease 500ms forwards;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
}

.input{
    width: calc(100% - 30px);
    padding: 12px 15px;
    background: transparent;
    border: none;
    box-shadow: inset 0px 0px 0px 1px var(--secondary);
    resize: none;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--text-color);
    outline: none;
    font-family: sans-serif;
}


.input:focus,
.input:active{
    border: none;
    box-shadow: inset 0px 0px 0px 2px var(--white);
    border-radius: 0px;
}

.email-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--secondary);
    border: none;
    outline: none;
    padding: 15px 45px;
    /* border-radius: 4px; */
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.65, 0, 0.076, 1);
    /* animation: drop-in 1200ms ease 500ms forwards; */
}

.email-btn:hover{
    box-shadow: inset 0px 0px 0px 1px var(--secondary);
    background-color: var(--white); 
    color: var(--black);
  }

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    color: var(--text-color-2)
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    animation: drop-in 1200ms ease 500ms forwards;
}

.linkedin{
    font-size: 40px;
    transition: 0.5s;
}
.linkedin:hover{
    color: #0077b5
}
.twitter{
    font-size: 40px;
    transition: 0.5s;
}
.twitter:hover{
    color: var(--white)
}
.mail{
    font-size: 40px;
    transition: 0.5s;
}
.mail:hover{
    color: #ff4343
}
.whatsapp{
    font-size: 40px;
    transition: 0.5s;
}
.whatsapp:hover{
    color: #25d366;
}
.github{
    font-size: 40px;
    transition: 0.5s;
}
.github:hover{
    color: var(--white);
}


@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }

   @media (max-width: 800px) {
        .contact{
            margin: 80px 0px;
        }
        .social-link{
            width: 30px;
            height: 30px;
        }
   }
