.projects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    padding-top: 100px;
}

.heading{
    color: var(--secondary);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* box-shadow: inset 0px 0px 0px 1px var(--secondary); */
    border: 1px solid var(--secondary);
    cursor: pointer;
    animation: drop-in 1200ms ease 500ms forwards;
}

.thumbnail{
    width: 100%;
    flex: 1;
    object-fit: cover;
}

.details{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
}

.project-name{
    color: var(--text-color);
    line-height: 28px;
    letter-spacing: 0.5px;
    font-size: 24px;
    font-weight: 700;
}
.project-description{
    margin-top: 10px;
    color: var(--text-color-2);
    font-size: 14px;
    font-weight: 600;
}

.technologies-div{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;      
    justify-content: center;
    gap: 10px;
}
.technologies{
    display: flex;  
    gap: 10px;
    flex-wrap: wrap;
}

.links{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.link{
    width: calc(100% - 30px);
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white);
    line-height: 20px;
    font-size: 16px;
    white-space: unset;
}

@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }


   @media (max-width: 800px) {
        .projects{
            padding-top: 65px;
            gap: 25px;
        }
        .details{
            margin: 0px;
        }
        .project-name{
            line-height: 24px;
            font-size: 22px;        
            margin: 10px;
        }
        .project-description{
            line-height: 14px;
            font-size: 12px;
            margin: 10px 10px 4px 10px;
        }
        .description{
            margin-left: 10px;
        }
        .link{
            margin: 4px 10px 10px 10px;
        }
   }