.credits{
    width: calc(100% - 160px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0px 80px;
}

.text{
    text-align: center;
    color: var(--text-color-2);
    font-size: 14px;
    font-weight: 600;
}

.name{
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
}

.main-heading{
    width: 100%;
    text-align: center;
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer
}

.main-heading:hover{
    color: var(--white);
}

@media (max-width: 800px){
    .credits{
        width: calc(100% - 52px);
        padding: 0px 26px;
        height: 60px;
    }
    .text{
        font-size: 10px;
    }
    .name{
        font-size: 11px;
    }
}