.credits{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    border-top: 1px solid #434343;
    padding: 30px 0px;
}

.text{
    text-align: center;
    color: var(--text-color-2);
    font-size: 14px;
    font-weight: 600;
}

.name{
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
}

.main-heading{
    width: 100%;
    text-align: center;
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer
}

.main-heading:hover{
    color: var(--white);
}