.main {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  height: 100%;
  min-height: 100vh;
  padding: 0px 80px;
  overflow-y: scroll;
  border-bottom: 1px solid #434343;
  scroll-behavior: smooth;
  /* position: relative; */
  overflow-anchor: none;
}

.main::-webkit-scrollbar{
  display: none;
}

.pointer{
  background-color: var(--white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
}

@media (max-width: 800px) {
    .main{
      padding: 0px 26px;
    }
}

